a.out
note.txt
*.vvp
*.vcd
processor_modules/RiscProcessor/processor/compile
processor_modules/RiscProcessor/processor/log
processor_modules/RiscProcessor/processor/processor
processor_modules/RiscProcessor/processor/compile

.DS_Store
processor_modules/RiscProcessor/library.cfg
processor_modules/RiscProcessor/RiscProcessor.aws
processor_modules/RiscProcessor/processor/bde.set
processor_modules/RiscProcessor/processor/compilation.order
processor_modules/RiscProcessor/processor/compile.cfg
processor_modules/RiscProcessor/processor/Edfmap.ini
processor_modules/RiscProcessor/processor/processor.adf
processor_modules/RiscProcessor/processor/processor.wsp
processor_modules/RiscProcessor/processor/projlib.cfg
processor_modules/RiscProcessor/processor/compile/contents.lib~processor
processor_modules/RiscProcessor/processor/log/console.log
processor_modules/RiscProcessor/processor/processor/processor.lib
processor_modules/RiscProcessor/RiscProcessor.wsw
processor_modules/RiscProcessor/processor/synthesis.order
processor_modules/RiscProcessor/processor/src/wave.asdb
processor_modules/RiscProcessor/processor/src/wave.asdbw/
